# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:7.10.1
      
      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mongo:3.4.4

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-
      - restore_cache:
          keys:
          - v1-public-sites

      # Build page. Files are 
      - run: npm install
      - run: npm run release-build
        
      # run tests!
      - run: npm test

      #
      # 公開サイトのアップデート
      #

      # デフォルトではソース自体の deploy key を使ってしまうために公開サイトのリポジトリに
      # アクセスできないので、公開サイト用の deploy key を別途作って使用しています。
      # この deploy key はリポジトリ設定の SSH Permissions に登録されています。
      - add_ssh_keys:
          fingerprints:
            - "12:01:5a:a1:05:9f:f4:aa:94:84:68:d0:fe:43:cb:95"
      #- run: scripts/deploy

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
        
      # 公開サイトのリポジトリもキャッシュ
      - save_cache:
          paths:
            - tmp/sitetest-public
          key: v1-public-sites



